.controls{
    width: 79vw;
    height: 30vh;
    
    background-color: #3c3c3c;
    background-size: 100%;
    grid-area: controls;

    border-radius: 0 0 2vh 0;
    border: 1vh solid #2b2b2b;
    border-left:0;
    box-sizing: border-box
	  
  }
  .controls button{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 7px 20px;
    position: absolute;
    left: 50%;
    bottom: 20%;
    color: white;
    border-radius: 10px;
    text-shadow: -1px -1px 1px rgba(0,0,0,0.8);
    border: 5px solid transparent;
    border-bottom-color: rgba(0,0,0,0.35);
    background: 	#53a122;
    cursor: pointer;
    outline: 0 !important;
  }
  .controls button:hover{
    box-shadow: 0 0 0 1vh #b3b3b35d;
  }
  .points{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 1em;
    text-transform: uppercase;

    color: white;
    position: absolute;
    
    right: 5vw;
    bottom: 30%;
  }
  .feedPointer{
    right: 3.5vw;
    bottom: 23%;
    position: absolute;
    background-color: #b3b3b35d;

    width: 200px;
    border: 2px solid #000;
    margin: 0 auto 20px auto;
    border-radius:10px;
    
  }
  .feedPointer div{
    height: 20px;
    background: #3a2254;
    border-radius:8px 0 0 8px ;
  }
  .currentWeapon{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    color: white;
    position: absolute;
    
    margin-left: 2vw;
    bottom: 30%;
  }
  .currentWeapon p{
    color: #dbb8ff;
    margin: 0;
    font-size: 0.8em;
    text-align: center;
  }
  .shotsAvailable{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    color: white;
    position: absolute;
    
    right: 5vw;
    bottom: 15%;
  }
  .shotsAvailable span{
    color: rgb(173, 215, 255);
    margin: 0;
    font-size: 1.2em;
    text-align: center;
    color: #dbb8ff;
  }