.gunBG{
    /* background-color: black; */
    width: 140px;
    height: 140px;
    position: absolute;
    top: 35vh;
}
.gunBG img{
    height: 100%;
}

.shot-enter {
      transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.shot-enter.shot-enter-active {
    transform: translateX(100vw);
}
